
@if(personnageChoisi){
    <div class="personnage">
        <div class="personnage">
            <div class="personnage-details">
                <h2>{{ personnageAleatoire?.nom }}</h2>
                <p>Niveau: {{ personnageAleatoire?.niveau }}</p>
                <p>Role: {{ personnageAleatoire?.role }}</p>
                <p>Type: {{ personnageAleatoire?.type }}</p>
            </div>
            <div class="personnage-image">
                <img src="../../assets/{{ personnageAleatoire?.lienImage }}" alt="Image" style="width: 200px; height: auto;">
            </div>
        </div>

    </div>
}
@else {
    <h1>Cliquez sur le bouton pour choisir un personnage</h1>

}
<button (click)="genererPersonnageAleatoire()">Générer Personnage Aléatoire</button>